/*charms bar*/
div.hidden-bar{
    width:15px;
    height:100%;
    background:rgba(50,50,50,0.0);
    position:absolute;
    top:0px;
    right:0px;
    z-index:3000;
    overflow:hidden;
}
div.placeholder{
    float: right;
    width:90px;
    height:100%;
    background:rgba(50,50,50,0.0);
    position:absolute;
    top:0px;
    right:0px;
    z-index:2000;
    overflow:hidden;
}
div.charmbar{
    width:85px;
    height:100%;
    background:rgba(18,18,18,1);
    opacity:0.5;
    filter:alpha(opacity=50); 
    z-index: 1000;
    position:absolute;
    top:0px;
    right:-85px;
}
div img{
 position:absolute;
 right:-85px;
}
div.charmcontainer{
  position:relative;
   z-index:3000;
}