html{
	height: 100%;
}

body{
	height: 100%;width: 100%; 
	overflow-x:hidden;
}

.container{
	height: 100%;
	margin: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}
.codrops-top{height: 5%;}
.content{
	height: 95%;
}
.scroller,.scroller-inner{
	position:absolute;
	height: 100%;
	width: 100%;
	min-height: 100%;
	overflow-x:hidden;
}


.side {
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
}
.one-side{
  background: #47a3da;
}

.the-other-side{
  background: #ccc;
}