<!--container -->
<div class="container">
    <!--
    <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Hackthons</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Shortcuts</a></li>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
    </div>
  -->

<!--

 <div class="row content">
  <div class="side col-sm-6 one-side">Left Content</div>
  <div class="side col-sm-6 the-other-side">Right Content</div>

                </div>
                <div class="overlay">
                    <ul>
                        <li ng-repeat="d in deals">
                            {{d.description}}
                        </li>
                    </ul>

</div>
</div>
!-->
<!-- /intro -->

        </div>
        <!-- /page-right -->
        </div>
        <!-- /page-left -->
    <!-- /splitlayout -->
</div><!-- /container -->