
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">transformersasdfasdf</h3>
    <div class="container">
        <header class="container"></header>
        <section id="body" class="container">
            <section id="main" class="col-lg-6 col-sm-12 pull-left" >
                <div class="row">
                    <div class="floating-label-form-group form-group col-xs-3">
                        <label for="title">Title</label>
                        <input id="title" class="form-control" type="text" name="title" placeholder="Title">
                    </div>
                    <div class="floating-label-form-group form-group col-xs-4">
                        <label for="name">Name</label>
                        <input id="name" class="form-control" type="text" name="name" placeholder="Name">
                    </div>
                    <div class="floating-label-form-group form-group col-xs-5">
                        <label for="description">Description</label>
                        <input id="description" class="form-control" type="text" name="description" placeholder="Description">
                    </div>
                </div>
            </section>
            <section id="sidebar" class="col-lg-6 col-sm-12 pull-right">
                <div class="row">
                    <div class="col-xs-2">
                        <input type="text" class="form-control" placeholder=".col-xs-2">
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" placeholder=".col-xs-3">
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder=".col-xs-4">
                    </div>
                </div>
            </section>
        </section>
        <hr>
        <footer class="container">footer</footer>
    </div>


